@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
    font-family: 'Monsterat';
    src: url(Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'IBMplexMono';
    src: url(IBMPlexMono-Medium.ttf);
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Monsterat';
}
/*font text = Montserrat font title =IBM Plex Mono */